<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-left">
                <div class="card-body">
                    <h3>Bienvenido Martinez</h3>
                    <h4>Nombre: Martinez Ortiz Eduardo Antonio</h4>
                    <h5>Nivel: 1</h5>
                    <a href="dashboard" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>