<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/dashboard.css"></link>
</head>

<body>
    <div class="wrapper">
        <main>
            <div class="container bg-light rounded">
                <div class="h4 font-weight-bold text-center py-3">Dashboard</div>

                
                    <div class="row">
                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <div class="box bg-white" onclick="nextWeb('report-global')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/892/892708.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Criminales</b>
                                            <a href="report-global">
                                                <p class="text-muted">Agrega, edita, elimina o busca criminales</p>
                                            </a> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <div class="box bg-white" id="{{id}}" onclick="nextWeb(this.id+'/dish')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/1022/1022331.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Policias</b> <a href="report-global">
                                            <p class="text-muted">Agrega, edita, elimina o busca a un policia</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <div class="box bg-white" onclick="nextWeb('report-global')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4409/4409421.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Subir criminales</b> <a href="report-global">
                                            <p class="text-muted">Sube un archivo xls de criminales</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('report-global')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/1576/1576476.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Robo a sucursal</b> <a href="#">
                                            <p class="text-muted">Subir, editar, eliminar o buscar un crimen</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
            </div>


    </div>


    </main>
    </div>
    <script>
        function handleDivClick(id) {
            window.location.href = "/fud/"+id+"/company-home";
        }
    </script>
    <script src="/js/store/other.js"></script>
    <script src="/js/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/report/company_report.js"></script>
</body>

</html>