<!doctype html>
<html>
	<head>
		<link href="/css/DataCapture.css" rel="stylesheet" media="all">
	</head>

	<body class="">
		<br>
		<div class="" align="center">
			<img src="https://cdn.icon-icons.com/icons2/1379/PNG/512/folderblack_93099.png" width="150" height="150" align="absmiddle" />
			<h1 class="text-white">Captura de datos ya existentes</h1>
			<div class="bg-grayClaro" align="center">
				<h4 class="text-white">(xls, cvs)</h4>
				<div id="ExaminarEspacio" class="bg-examinar">
					<br /> <br />
					<a id="Examinar" class="btn btn-secondary" href="#Logout">Examinar</a>
					<h3> <br /> (Espacio para arrastrarlo)</h3>
				</div>
			</div>
		</div>
	</body>
</html>