<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link href="css/styles.css" rel="/css/DataCapture.css" />
</head>

<body class="bg-var">
	<nav class="navbar navbar-light bg-var static-top">
		<div class="container">
			<a id="TiempoSesion" class="navbar-brand text-white" href="#!">Tiempo de sesión: </a>
			<!-- <a id="Logout" class="btn btn-secondary" href="#Logout">Cerrar sesión</a> -->
		</div>
	</nav>
	<div class="bg-gray" align="center">
		<img src="assets/Imagenes/1.png" width="150" height="150" align="absmiddle" />
		<h1 class="text-white">Captura de datos ya existentes</h1>
		<div class="bg-grayClaro" align="center">
			<h4 class="text-white">(xls, cvs)</h4>
			<div id="ExaminarEspacio" class="bg-examinar">
				<br /> <br />
				<a id="Examinar" class="btn btn-secondary" href="#Logout">Examinar</a>
				<h3> <br /> (Espacio para arrastrarlo)</h3>
			</div>
		</div>
	</div>
	<div class="bg-gray">
		<br /> <br /><br />
	</div>
</body>
</html>