.body-session{
    background-color: var(--color-wallpaper);
    height: 1000px;
}

.title-session{
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.8);
}

.link-session{
    font-size: 15px;
    color: rgba(0,0,0,.5);
    text-decoration: none;
    padding-right: 4px;
}

.input-login{
    width: 100%;
}

.fi-session{
    font-size: 14px;
}

.link-singUp{
    font-size: 15px;
    color: var(--wallpaper-color);
    text-decoration: none;
}

.body-session .form-group{
    padding: 0px;
}
