.btn-outline-success-n{
    color: var(--color-logo);
    background: transparent;
}
.btn-outline-success-n:hover{
    color: var(--color-text);
    background-color: var(--color-logo);
}

.bg-dark{
    background-color: red;
} 