<footer class="footer">
	<nav class="navbar navbar-light bg-var static-top containerBajo">
		<div class="container">
			<a id="Regresar" class="btn btn-primary" href="#Logout">Regresar</a>
			<a id="Logout" class="navbar-brand text-white" href="#!">Cerrar sesion</a>
		</div>
	</nav>
</footer>